* {
color: #eea !important; /* yolo */
}

body {
	background-color: black;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

.grid {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.contents {
	overflow: auto;
}

.header {
	background-color: #333;
	overflow: visible;
}

h1 {
	margin: 0px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

.logo {
	float: right;
	text-decoration: none;
	margin: 8px;
	height: 0;
}

.logo img {
  height: 46px;
}

h2 {
	font-size: 32px;
	margin: 4px 0px;
}

h1, .dates {
	padding: 12px;
}

.date:not(:last-child) {
	padding-bottom: 12px;
	margin-bottom: 8px;
	border-bottom: 1px solid gray;
}

.photos {
	/* display: flex;
	align-items: stretch;
	flex-wrap: wrap; */
	line-height: 0;
}

img.photo {
	object-fit: fill;
	max-height: 276px;
	padding: 3px;
	/* flex-grow: 1; */
}

.viewImage {
	position: relative;
	background-color: rgb(10, 10, 10);
	height: 100%;
	overflow: hidden; /* bah */
}

img.large {
	height: calc(100% - 60px - 8px); /* 100% - dl height - margins) */
	width: 100%;
	object-fit: contain;
	margin: 0px;
	padding: 0px;
	line-height: 0;
}

.previous, .next {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 128px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	text-decoration: none;
	font-size: 64px;

	transition: opacity 250ms;
	opacity: 0.4;
}

.previous:hover, .next:hover {
	transition: opacity 250ms;
	opacity: 0.8;
}

.previous {
	left: 0px;
}

.next {
	right: 0px;
}

.pagination {
	background-color: #444;
	font-size: 16px;
}

.previousPage, .nextPage {
	padding: 12px;
	text-decoration: none;
}

.previousPage:hover, .nextPage:hover {
	background-color: #333;
}

.previousPage {
	float: left;
}

.nextPage {
	float: right;
}

.clear {
	clear: both;
}

dl {
	display: flex;
	flex-flow: column wrap;
	height: 60px;
	margin: 0;
	padding: 8px 12px 0px;
	background-color: #444;

	overflow-x: auto;
	scrollbar-color: #666 #000;
	scrollbar-width: thin;
}

dt {
	margin: 0;
	font-size: 60%;
	line-height: 24px;
	padding-right: 24px;
}

dd {
	margin: 0;
	padding-right: 24px;
}
